# Core ML libraries
transformers==4.38.2 # downgraded from 4.49.0
datasets==2.18.0
torch==2.4.0
accelerate==0.26.1
peft==0.7.1
trl==0.7.6
# bitsandbytes==0.41.3 # Removed


# Data processing
regex
pandas
numpy
scikit-learn
evaluate # Added for evaluate.py
scipy # Added for evaluate.py

# AWS SDK and SageMaker
boto3>=1.28.0
sagemaker==2.175.0
awscli>=1.29.0

# Utilities
tqdm
matplotlib
tensorboard
ipywidgets
jupyter
ipykernel

# Environment management
python-dotenv

# Optional: for custom container building
docker
